<!-- including partials-->
<%- include ("partials/header") %>
<div class = "ui main text container segment">
	<div class = "ui huge header">
		Edit <%= blog.title %>
	</div>
	<!--?_method = PUT makes a browser/server to accept that post request as put request..and this comes from method-override package  -->
	<form  class = "ui form"action = "/blogs/<%= blog._id %>?_method=PUT" method = "POST">
		<div class = "field">
			<label>Title</label>
			<input type = "text" name = "blog[title]" value = "<%= blog.title %>">
		</div>
		<div class = "field">
			<label>Image</label>
			<input type = "text" name = "blog[image]" value = "<%= blog.image %>">
		</div><div class = "field">
			<label>Blog Content</label>
			<textarea name = "blog[body]"> <%= blog.body %></textarea>
		</div>
		<input class = " ui violet big basic button" type = "submit">
	</form>
</div>







<!-- including partials-->
<%- include ("partials/footer") %>