<!-- including partials-->
<%- include ("partials/header") %>

<div class = "ui main text container">
	<div class = "ui huge header">
		RESTful blog app
	</div>
	<div class = "ui top attached segment">
		<div class = "ui divided items">
			<% blogs.forEach(function(blog){ %>
				<div class = "item">
					<div class = "image">
						<img src = "<%= blog.image %>">
					</div>
					<div class = "content">
						<a class = "header" href = "/blogs/<%= blog._id %>"><%= blog.title %></a>
					</div>
					<div class = "meta">
						<span><%= blog.created.toDateString() %></span>
					</div>
					<div class = "description">
						<p>
						<%- blog.body.substring(0,100) %>...
						</p>
					</div>
					<div class = "extra">
						<a class = "ui floated basic violet button" href = "/blogs/<%= blog._id %>">
							Read More
							<i class = "right chevron icon"></i>
						</a>
					</div>
			</div>
	
			<% }); %>

		</div>
	</div>
</div>

<!-- including partials-->
<%- include ("partials/footer") %>