<!-- including partials-->
<%- include ("partials/header") %>
<div class = "ui main text container segment">
	<div class = "ui huge header">
		<%= blog.title %>
	</div>
	<div class = "ui top attached">
		<div class = "item">
			<img  class = "ui centered rounded image" src = "<%= blog.image %>">
		</div>
		<div class = "content">
			<!--<_%=r enders the results -->
			<span><%= blog.created.toDateString() %></span>
		</div>
		<div class = "description">
			<!--<_%- runs and renders the results -->
			<p><%- blog.body %></p>
		</div>
		<a class = "ui orange basic button" href = "/blogs/<%= blog._id %>/edit">Edit</a>
		<form id = "delete" action = "/blogs/<%= blog._id %>?_method=DELETE" method = "POST">
			<button class = "ui red basic button">
				DELETE
			</button>
		</form>
		
		
				
	</div>

	
</div>







<!-- including partials-->
<%- include ("partials/footer") %>